@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
}

main {
    display: grid;
    background: #eeeee7;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
}

/* General panel */
.panel {
    display: grid;
}

/* grid top is in grid Header is in grid Panel */
.panel.header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 30px 60px;
    text-align: center;
}
.panel.header h1 {
    color: #b87e89;
    font-size: 3em;
}
.panel.header nav a {
    color: #b87e89;
    text-decoration: none;
    margin-right: 20px;
}
.panel.header nav a:hover {
    color: #bbbb99;
}

/* LEFT */
.panel.left {
    grid-column: 1/2;
    padding: 30px 60px;
}

.panel.left h1,
.panel.left p {
    color: #323230;;
}
.panel.left p {
    max-width: 420px;
    line-height: 2;
}
.sideways-text {
    writing-mode: vertical-lr; /* Text flows vertically, lines progress left to right */
    text-orientation: upright; /* Keeps characters upright (optional, for Latin scripts) */
}

/*CONTENT*/ 
.content{
    grid-column:2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*RIGHT & MIDDLE */
.panel.middle, .panel.right {
    padding: 30px 60px;
}
.panel.right nav a {
    color: #b87e89;
    text-decoration: none;
    margin-right: 20px;
}
.panel.right nav a:hover {
    color: #bbbb99;
}
.details{
  color: #b87e89;
  text-align: center
}

.panel.footer{
    grid-column: 1 / -1;
    
}

/* 1400px */
@media screen and (max-width: 1400px) {
    main {
        grid-template-columns: 1fr;
    }
     .content {
        grid-column: 1 / -1; 
    }
    .content{
        grid-template-columns: 1fr 1fr; 
    }
}

/* 960px */
@media (max-width: 960px) {
    .content{
        grid-template-columns: 1fr; 
    }
}
