body{
    font-family: 'Times New Roman','Times New Roman', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width:960px; 
    margin: 30px;
}
h1{
    font-size: 4em;
    letter-spacing: .1em;
}
h2{
    font-size:1.5em;
}

header{
    text-align: center;
    margin:auto 2em; 
}
a:link {
  color: rgb(192, 110, 175);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(218, 37, 37);
  background-color: transparent;
  text-decoration: underline;
}

.grid-container{
    background: #eee;
    max-width: 900px;
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    justify-items: stretch;
    align-items: stretch;
}
.grid-container > div{
    /*text-align: center;*/
    padding: 5px; 

    /*Bottom Style*/
    border: 1px solid #777; 
}
/*Asigning cloumns*/ 
.grid-container > div:nth-child(1){
    background: #9EA99C;
    /*Starts at grid line 1 and spans two columns*/
    grid-column: 1 / span 4;
    text-align: center;
}
.grid-container > div:nth-child(2){
    background: #9EA99C;
    grid-column: span 2;
}
.grid-container > div:nth-child(3){
    background: #9EA99C;
    grid-column: span 2;
}
.grid-container > div:nth-child(4){
    grid-column: span 4;
    align-self: end;
}
.grid-container > div:nth-child(5){
    grid-column: span 6;
    align-self: end;
}
.grid-container > div:nth-child(6){
    background: #ffffff;
    text-align: center;
    grid-column: span 1;
}
.grid-container > div:nth-child(7){
    background: #ffffff;
    text-align: center;
    grid-column: span 4;
}
.grid-container > div:nth-child(8){
    background: #ffffff;
    grid-column: span 1;
}
.grid-container > div:nth-child(9){
    grid-column: span 6;
}